################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ContentSlider/obj
/src/ContentSlider/bin
/src/.vs/